{% macro render_field(field) %}
    <div class="form_field">
    {{ field.label(class="label") }}
    {% if field.errors %}
        {% set css_class = 'has_error ' + kwargs.pop('class', '') %}
        {{ field(class=css_class, **kwargs) }}
        <ul class="errors">{% for error in field.errors %}<li>{{ error|e }}</li>{% endfor %}</ul>
    {% else %}
        {{ field(**kwargs) }}
    {% endif %}
    </div>
{% endmacro %}

{% macro render_pagination(pagination, endpoint) %}

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='pages.css') }}">

  <div class="pages col-md-6 col-md-push-3">
  {% if pagination.has_prev %}
     <a href=" {{ url_for(endpoint, page=pagination.prev_num, **kwargs) }}" class="nextprev">Prev</a>
  {% else %}
       <span class="nextprev">Previous</span>
  {% endif %}
  {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <a href="{{ url_for(endpoint, page=page, **kwargs) }}">{{ page }}</a>
      {% else %}
        <span class="current">{{ page }}</span>
      {% endif %}
    {% else %}
      <span class=ellipsis>…</span>
    {% endif %}
  {%- endfor %}
  {% if pagination.has_next  %}
       <a href="{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}" class="nextprev">Next</a>
  {% endif %}
</div>
{% endmacro %}

{% macro render_header(endpoint, header_items) %}
        <tr>
            <th>Save
            {% set data = dict(**kwargs) %}
            {% do data.pop('sort_by', '') %}
            {% do data.pop('order', '') %}
            <a href="{{ url_for(endpoint, **data) }}">
            <span class="icon-refresh"></span>
            </a>
            </th>

            {% for tupkey in header_items %}
            {% set active = kwargs.get('sort_by', '') %}
            {% set sort = kwargs.get('order', '') %}
            {% set key, value = tupkey %}
                <th>{{ value }}
                {% if key == active and sort == 'asc' %}
                    {% set data = dict(**kwargs) %}
                    {% do data.update(sort_by=key, order='dec') %}
                    <a href="{{ url_for(endpoint, **data) }}">
                        <span class="icon-sort-down"></span>
                    </a>
                {% elif key == active %}
                    {% set data = dict(**kwargs) %}
                    {% do data.update(sort_by=key, order='asc') %}
                    <a href="{{ url_for(endpoint, **data) }}">
                       <span class="icon-sort-up"></span>
                    </a>
                {% else %}
                    {% set data = dict(**kwargs) %}
                    {% do data.update(sort_by=key, order='asc') %}
                    <a href="{{ url_for(endpoint, **data) }}">
                       <span class="icon-sort"></span>
                    </a>
                {% endif %}
                </th>
            {% endfor %}
        </tr>
{% endmacro %}

{% macro submit_button() %}
    <div class="btn-group pull-left">
    {% if session.user_id %}
        <button type="submit" class="btn btn-default" name="action" value="save"><i class="icon-save"></i> Save</button>
        <button type="submit" class="btn btn-default" name="action" value="delete"><i class="icon-trash"></i> Delete</button>
    {% else %}
        <button type="submit" class="btn btn-primary" disabled="disabled">Save</button>
        <button type="submit" class="btn btn-primary" disabled="disabled">Delete</button>
    {% endif %}
    </div>
{% endmacro %}


{% macro table_footer(endpoint) %}
        <div class="dropdown pull-right">
            <a data-toggle="dropdown" role="button" data-target="#" href="form.html">
                Pagination <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            {% for paginate in (10, 25, 50, 100) %}
            {#{% set kwargs = dict(**data) %}#}
            {% do kwargs.update(paginate=paginate) %}
            <li role="presentation">
                <a role="menuitem" tabindex="-1" href="{{ url_for(endpoint, **kwargs) }}">{{ paginate }} per page</a>
            </li>
            {% endfor %}
            </ul>
        </div>
{% endmacro %}