 {% extends "base.html" %}
 {% set active_page = "users" %}
 {% block content %}
 {% set data = request.args.to_dict() %}
   Hi {{ user.name }}!
   <form name="favorite" action="{{ url_for('users.generate_filings') }}" method="POST">
   <table class="table table-striped table-condensed table-hover">
        <tr>
            <th></th><th>Form type</th><th>Filing date</th><th>Link</th>
        </tr>
    {% for company, user_filings in filings.items() %}
        <tr>
            <th>Company</th><th colspan="3">
            <a href="{{ url_for('filings.show_entries', company_id = user_filings[-1].company.id) }}">{{ company }}</a></th>
        </tr>
        {% for filing in user_filings %}
            <tr>
                <td><div class="checkbox"><input type="checkbox" name="filing_check" value="{{ filing.id }}"></div></td>
                <td><a href="{{ url_for('filings.type_entries', form_id=filing.form_id) }}"> {{ filing.form_type|upper }}</a></td>
                <td>{{ filing.filing_date }}</td>
                <td><a href="{{ filing.filing_url }}">Link</a></td>
            </tr>
        {% endfor %}
    {% endfor %}
    </table>
    <div class="btn-group pull-left">
    {% if session.user_id %}
        <button type="submit" class="btn btn-default" name="action" value="save"><i class="icon-save"></i> Save</button>
        <button type="submit" class="btn btn-default" name="action" value="delete"><i class="icon-trash"></i> Delete</button>
    {% else %}
        <button type="submit" class="btn btn-primary" disabled="disabled">Save</button>
        <button type="submit" class="btn btn-primary" disabled="disabled">Delete</button>
    {% endif %}
    </div>
    </form>
        <div class="dropdown pull-right">
            <a data-toggle="dropdown" role="button" data-target="#" href="forms.html">
                Pagination <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            {% for paginate in (10, 25, 50, 100) %}
            {% set kwargs = dict(**data) %}
            {% do kwargs.update(paginate=paginate) %}
            <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#"}}>{{ paginate }} per page</a>
            </li>
            {% endfor %}
            </ul>
        </div>
{% endblock %}
