{% extends "base.html" %}
{% block content %}
  {% from "forms/macros.html" import render_field %}
  <form method="POST" action="." class="form">
    {{ form.csrf_token }}
    {{ render_field(form.name, class="input text") }}
    {{ render_field(form.email, class="input text") }}
    {{ render_field(form.password, class="input text") }}
    {{ render_field(form.confirm, class="input text") }}
    {{ render_field(form.accept_tos, class="input checkbox") }}
    <input type="submit" value="Register" class="button green">
  </form>
  <a href="{{ url_for('users.login') }}">Login</a>
{% endblock %}
