{% extends "base.html" %}
{% from 'forms/macros.html' import render_pagination with context %}
{% from 'forms/macros.html' import render_header with context %}
{% from 'forms/macros.html' import submit_button with context %}
{% from 'forms/macros.html' import table_footer with context %}

{% block content %}
{% set company_items = [
    ('form_type', 'Form type'),
    ('filing_date', 'Filing date'),
    ('filing_url', 'Link')
] -%}
{% set data = request.args.to_dict() %}
{% do data.update(company_id=company.id) %}
    <h1><< Filings for {{ company.company_name|title }} | {{ company.company_cik }} >></h1>
    <form name="favorite" action="" method="POST">
    <table class="table table-condensed table-striped table-hover">
        {{ render_header('filings.show_entries', company_items, **data) }}
        <fieldset>
        {% for filing in filings.items %}
            <tr>
                <td><div class="checkbox"><input type="checkbox" name="filing_check" value="{{ filing.id }}"></div></td>

                <td><a href="{{ url_for('filings.show_types', form_id=filing.form_id) }}"> {{ filing.form_type|upper }}</a></td>
                <td>{{ filing.filing_date }}</td>
                <td><a href="{{ filing.filing_url }}">Link</a></td>
            </tr>
        {% endfor %}
        </fieldset>
    </table>
    {{ submit_button() }}
    </form>
    {{ table_footer('filings.show_entries', **data) }}
    {{ render_pagination(filings, 'filings.show_entries', **data) }}
{% endblock %}

