{% extends "base.html" %}
{% from 'forms/macros.html' import render_pagination with context %}
{% from 'forms/macros.html' import render_header with context %}
{% from 'forms/macros.html' import submit_button with context %}
{% from 'forms/macros.html' import table_footer with context %}
{% set active_page = "companies" %}
{% block content %}
{% set filing_items = [
    ('company_cik', 'Company CIK'),
    ('company_name', 'Company Name'),
    ('num_filings', 'Number of filings')
] -%}
{% set data = request.args.to_dict() %}
<form name="favorite" action="." method="POST">
    <table class="table table-striped table-condensed table-hover">
    {{ render_header('filings.show_companies', filing_items, **data) }}
        <fieldset>
        {% for company in companies.items %}
          <tr>
            <td><div class="checkbox"><input type="checkbox" name="filing_check" value="{{ company.id }}"></div></td>
            <td>{{ (company.company_cik|string).zfill(10) }}</td>
            <td><a href="{{ url_for('filings.show_entries', company_id=company.id) }}"> {{ company.upper_case_name|title }}</a></td>
            <td>{{ company.num_filings }} </td>
          </tr>
        {% endfor %}
        </fieldset>
    </table>
    {{ submit_button() }}
</form>
    {{ table_footer('filings.show_companies', **data) }}
    {{ render_pagination(companies, 'filings.show_companies', **data) }}
{% endblock %}

