{% extends "base.html" %}
{% from 'forms/macros.html' import render_pagination with context %}
{% from 'forms/macros.html' import render_header with context %}
{% from 'forms/macros.html' import submit_button with context %}
{% from 'forms/macros.html' import table_footer with context %}
{% set active_page = "forms" %}
{% block content %}
{% set filing_items = [
    ('company_name', 'Company Name'),
    ('filing_date', 'Filing Date'),
    ('filing_url', 'Link')
] -%}
{% set data = request.args.to_dict() %}
{% do data.update(form_id = form.id) %}
<form name="favorite" action="." method="POST">
    <table class="table table-striped table-condensed table-hover">
    {{ render_header('filings.type_entries', filing_items, **data) }}
        <fieldset>
        {% for filing in filings.items %}
          <tr>
            <td><div class="checkbox"><input type="checkbox" name="filing_check" value="{{ filing.id }}"></div></td>
            <td><a href="{{ url_for('filings.show_entries', company_id=filing.company_id) }}"> {{ filing.company.company_name|title }}</a></td>

            <td>{{ filing.filing_date }}</td>
            <td><a href="{{ filing.filing_url }}">Link</a></td>
          </tr>
        {% endfor %}
        </fieldset>
    </table>
    {{ submit_button() }}
</form>
    {{ table_footer('filings.type_entries', **data)}}
    {{ render_pagination(filings, 'filings.type_entries', **data) }}
{% endblock %}

