{% extends "base.html" %}
{% from 'forms/macros.html' import render_pagination with context %}
{% from 'forms/macros.html' import render_header with context %}
{% from 'forms/macros.html' import submit_button with context %}
{% from 'forms/macros.html' import table_footer with context %}
{% set active_page = "forms" %}
{% block content %}
{% set filing_items = [
    ('form_type', 'Form Type'),
    ('num_forms', 'Number of filings')
] -%}
{% set data = request.args.to_dict() %}
<form name="favorite" action="." method="POST">
    <table class="table table-striped table-condensed table-hover">
        {{ render_header('filings.show_types', filing_items, **data) }}
        <fieldset>
        {% for form in forms.items %}
          <tr>
            <td><div class="checkbox"><input type="checkbox" name="form_check" value="{{ form.id }}"></div></td>
            <td><a href="{{ url_for('filings.type_entries', form_id=form.id) }}"> {{ form.form_type|upper }}</a></td>
            <td>{{ form.num_forms }} </td>
          </tr>
        {% endfor %}
        </fieldset>
    </table>
    {{ submit_button() }}
</form>
    {{ table_footer('filings.show_types', **data) }}
    {{ render_pagination(forms, 'filings.show_types', **data) }}
{% endblock %}

