<html lang="en">
<head>

{% set navigation_bar = [
  ("/", "index", "Index"),
  ("/companies/", "companies", "Companies"),
  ("/users/", "users", "User"),
] -%}

{% if session.user_role == 0 %}

  {% set navigation_bar = [
    ("/", "index", "Index"),
    ("/companies/", "companies", "Companies"),
    ("/users/", "users", "User"),
    ("/admin/", "admin", "Admin")
  ] -%}
  {% set admin_nav = [
    ("/", "index", "Home"),
    ('/admin/', 'admin', "Admin"),
    ('/admin/users/','admin_users', 'Edit Users'),
    ('/admin/companies/', 'admin_companies', 'Edit Companies'),
    ('/admin/filings/','admin_filings', 'Edit Filings')
  ] -%}
  {% set active_side = active_side|default("admin") -%}

{% endif %}

{% set active_page = active_page|default("index") -%}
  {% block head %}
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bs3/css/bootstrap.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bs3/css/bootstrap-theme.css') }}">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">

  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  {% endblock %}
</head>
<body>

    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header"><a class="navbar-brand" href="/index">Edgar SEC filings</a>
        <a class="navbar-toggle"
                data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="glyphicon glyphicon-bar"></span>
        <span class="glyphicon glyphicon-bar"></span>
        <span class="glyphicon glyphicon-bar"></span>
      </a>
    </div>
    <div class="container">
      <div class="navbar-collapse collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          {% for href, id, caption in navigation_bar %}
            <li {% if id == active_page %} class="active" {% endif %}>
                <a href="{{ href|e }}">{{ caption|e }}</a></li>
          {% endfor %}
        </ul>

        <div style="display:inline-block" class="pull-right">
          <form class="navbar-form navbar-left" action="" role="search">
            <div class="form-group">
            <input type="text" class="search-query" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default navbar-btn"><span class="icon-search"></span></button>

          </form>
          <ul class="nav nav-tabs pull-right navbar-nav">
            <li class="divider-vertical"></li>
            {% if session.user_id %}
            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="/users/">Profile<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('users.home') }}">Profile</a></li>
                <li><a href="{{ url_for('users.logout') }}">Logout</a></li>
              </ul>
              </li>
            {% else %}
              <li><a href="{{ url_for('users.login') }}">Login</a></li>
            {% endif %}
          </ul>
        </div>
        </div><!--/.nav-collapse -->
      </div><!--container -->
    </div><!--navbar-inner -->
  </div><!--navbar navbar-fixed -->

  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="nav nav-tabs nav-stacked navbar-collapse">
          <ul class="nav">
            {% for href, id, caption in admin_nav %}
              <li {% if id == active_side %} class="active" {% endif %}>
              <a href="{{ href|e }}">{{ caption|e }}</a></li>
            {% endfor %}
          </ul>
        </div><!--nav-tabs-->
      </div>
      <div class="col-md-10">
        {% block content %}
        {% endblock %}
      </div>
    </div>

    <hr>

    {% block footer %}

    <footer class="footer">
      <p>&copy; Company 2012</p>
    </footer>
    {% endblock %}
  </div><!--container -->

  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="{{url_for ('static', filename='bs3/js/bootstrap.js') }}"></script>
  </body>
</html>