{% extends "admin/base.html" %}
{% from 'forms/macros.html' import render_pagination with context %}
{% set active_page = "companies" %}
{% block content %}
{% set filing_items = [
    ('company_cik', 'Company CIK'),
    ('company_name', 'Company Name'),
    ('num_filings', 'Number of filings')
] -%}
{% set data = request.args.to_dict() %}
<form name="favorite" action="." method="POST">
    <table class="table table-striped table-condensed table-hover">
        <thead><tr>

            <th>Save
            {% set kwargs = dict(**data) %}
            {% do kwargs.pop('sort_by', '') %}
            {% do kwargs.pop('order', '') %}
            <a href="{{ url_for('filings.show_companies', **kwargs) }}">
            <span class="icon-refresh"></span>
            </a>
            </th>

            {% for tupkey in filing_items %}
            {% set active = data.get('sort_by', '') %}
            {% set sort = data.get('order', '') %}
            {% set key, value = tupkey %}
                <th>{{ value }}
                {% if key == active and sort == 'asc' %}
                    {% set kwargs = dict(**data) %}
                    {% do kwargs.update(sort_by=key, order='dec') %}
                    <a href="{{ url_for('filings.show_companies', **kwargs) }}">
                        <span class="icon-sort-down"></span>
                    </a>
                {% elif key == active %}
                    {% set kwargs = dict(**data) %}
                    {% do kwargs.update(sort_by=key, order='asc') %}
                    <a href="{{ url_for('filings.show_companies', **kwargs) }}">
                       <span class="icon-sort-up"></span>
                    </a>
                {% else %}
                    {% set kwargs = dict(**data) %}
                    {% do kwargs.update(sort_by=key, order='asc') %}
                    <a href="{{ url_for('filings.show_companies', **kwargs) }}">
                       <span class="icon-sort"></span>
                    </a>
                {% endif %}
                </th>
            {% endfor %}
        </tr></thead>
        <fieldset>
        {% for company in companies.items %}
          <tr>
            <td><div class="checkbox"><input type="checkbox" name="filing_check" value="{{ company.id }}"></div></td>
            <td>{{ (company.company_cik|string).zfill(10) }}</td>
            <td><a href="{{ url_for('filings.show_entries', company_id=company.id) }}"> {{ company.upper_case_name|title }}</a></td>
            <td>{{ company.num_filings }} </td>
          </tr>
        {% endfor %}
        </fieldset>

    </table>

    <div class="btn-group pull-left">
    {% if session.user_id %}
        <button type="submit" class="btn btn-default" name="action" value="save"><i class="icon-save"></i> Save</button>
        <button type="submit" class="btn btn-default" name="action" value="delete"><i class="icon-trash"></i> Delete</button>
    {% else %}
        <button type="submit" class="btn btn-primary" disabled="disabled">Save</button>
        <button type="submit" class="btn btn-primary" disabled="disabled">Delete</button>
    {% endif %}
    </div>
</form>
        <div class="dropdown pull-right">
            <a data-toggle="dropdown" role="button" data-target="#" href="companies.html">
                Pagination <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            {% for paginate in (10, 25, 50, 100) %}
            {% set kwargs = dict(**data) %}
            {% do kwargs.update(paginate=paginate) %}
            <li role="presentation">
                <a role="menuitem" tabindex="-1" href="{{ url_for('filings.show_companies', **kwargs) }}">{{ paginate }} per page</a>
            </li>
            {% endfor %}
            </ul>
        </div>
    {{ render_pagination(companies, 'filings.show_companies', **data) }}
{% endblock %}

