{% extends "admin/base.html" %}

{% block content %}
    <h1>Most recent {{limit}} filings</h1>
    <table class="table table-condensed table-striped">
    <tr>
        <th>Save</th><th>Company name</th><th>Form type</th><th>Date</th>
    </tr>
    {% for filing in filings %}
        <tr>
        <td><div class="checkbox"><input type="checkbox" name="filing_check" value="{{ filing.id }}"></div></td>
        <td><a href="{{ url_for('filings.show_entries', company_id=filing.company_id, page=1) }}">{{ filing.company.company_name|title }}</a></td>
        <td>{{ filing.form_type }}</a></td>
        <td><a href="{{ filing.filing_url }}"> {{ filing.filing_date }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}