{% extends 'base.html' %}
{% set active_side = "admin_users" %}
{% set active_page = "admin" %}
{% block content %}
<table class="table">
    <thead>
      <tr>
        <th>Username</th>
        <th>User email</th>
        <th>User role</th>
      </tr>
    </thead>
    {% for person in users %}
    <tbody>
      <tr>
        <td><a href="{{ url_for('users.edit_users', user=person.id) }}"> {{ person.name }} </a></td>
        <td>{{ person.email }}</td>
        <td>{{ person.role }}</td>
      </tr>
    </tbody>
    {% endfor %}
</table>

{% endblock %}